.img{
    width: 17rem;
    height: 10rem;
    padding: 1rem;
    filter: blur(0.1em);
}
.img:hover{
    filter: blur(0);
    scale: 1.2;
}
body{
    text-align: center;
}
aside{
    border: solid 0.2rem black;
    width: 20rem;
    float: left;
    height: 36.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

article{
    border: solid 0.5rem black;
    width: 59rem;
    height: 36rem;
    float: right;
}
#img_main{
    width: 57rem;
    height: 34rem;
    padding: 1rem;
}